
{% load static %}
{% load compress %}
{% load i18n %}

{% # variables for page: %}
{% trans "Healthy Meals: Diet Assistant" as the_app %}
{% trans "Welcome" as welcome %}
{% name_or_email = user.email
  if user.last_name is not None and user.first_name is not None:
    name_or_email = "{first} {last}".format(first=user.first_name, last=user.last_name)
%}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ the_app }} - {% block page_title %}{% endblock %}</title>
    <meta name="description" content="Healthy Meals Diet Assistant" />
    <meta name="keywords" content="nutrients, food nutrients, healthy foods, healthy meals, diet, diet assistant, healthy recipes, recipe assistant, open source nutrition" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- keeping css/base.css because it is original stylesheet prior to not fully tested base.scss-->
    <!-- link rel="stylesheet" href="{% static 'css/base.css' %}" /-->
    {% compress css %}
      <link type="text/x-scss" href="{% static 'scss/base.scss' %}" rel="stylesheet" media="screen" />
      <!--  want bootstrap ??? -->
      <!-- link type="text/x-scss" href="{% static 'bootstrap_scss/bootstrap.scss' %}" rel="stylesheet" media="screen" -->
    {% endcompress %}

    <script src="{% static 'js/base.js' %}"></script>
    <script>
        window.onload = pageOnLoad;
    </script>
  </head>
  <body>
    <main>
      <header class="flexAround">
        <section id="logo" class="flexCol">
          <a href="./index.html" title="Healthy Meals Diet Assistant Home Page">
            <span>
            </span>
          </a>
        </section>
        <section id="mainHeader" class="">
          <header>
            <h1>{{ the_app }}</h1>
            <h2>{% block page_h2 %}{% endblock %}</h2>
          </header>
        </section>
        <section id="fontSizer" class="">
          <ul>
            <li><a id="smallerFont" href="javascript:setFontSize('8px')" title="Set Site Font Size to the smallest size font"><span>A</span></a></li>
            <li><a id="smallFont" href="javascript:setFontSize('11px')" title="Set Site Font Size to the smaller size font"><span>A</span></a></li>
            <li><a id="medFont" href="javascript:setFontSize('14px')" title="Set Site Font Size to the medium size font"><span>A</span></a></li>
            <li><a id="largeFont" href="javascript:setFontSize('18px')" title="Set Site Font Size to the larger size font"><span>A</span></a></li>
            <li><a id="largerFont" href="javascript:setFontSize('22px')" title="Set Site Font Size to the largest size font"><span>A</span></a></li>
          </ul>
        </section>
        <section id="topSysMenu" class="">
          <ul>
            <li><address><span class="rowLabel">Info</span></address></li>
            {% if user.is_authenticated %}
            <li>{{welcome}}: {{ name_or_email }}</li>
            <li><a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li>
              <li><a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
            {% else %}
              <li>
                <form class="form d-flex">
                  <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">{% trans "Log in" %}</a>
                  <a href="{% url 'account_signup' %}" class="btn btn-primary ms-2">{% trans "Sign up" %}</a>
                </form>
              </li>
            {% endif %}
            </ul>
        </section>
      </header>
      <nav id="topMenu">
        <ul class="flexRow">
          <li><span><a href="{% url 'home' %}">{% trans "Home" %}</a></span></li>
          <li><span><a href="{% url 'about' %}">{% trans "About" %}</a></span></li>
        </ul>
      </nav>
      <div id="errorMessage">
        {% block page_errors %}{% endblock %}
      </div>
      <main>
        {% block page_body %}(no page_body){% endblock %}
      </main>
    </main>
  </body>
  <footer>{% block page_footer %}{% endblock %}</footer>
</html>
